![license_header_logo](https://user-images.githubusercontent.com/59526258/124226124-27125b80-db3b-11eb-8ba1-488d88018ebb.png)
> **Copyright (c) 2020-2021 CertifAI Sdn. Bhd.**<br>
 <br>
This program is part of OSRFramework. You can redistribute it and/or modify
<br>it under the terms of the GNU Affero General Public License as published by
<br>the Free Software Foundation, either version 3 of the License, or
<br>(at your option) any later version.
<br>
<br>This program is distributed in the hope that it will be useful,
<br>but WITHOUT ANY WARRANTY; without even the implied warranty of
<br>MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
<br>GNU Affero General Public License for more details.
<br>
<br>You should have received a copy of the GNU Affero General Public License
<br>along with this program.  If not, see <http://www.gnu.org/licenses/>.
<br>

# Introduction

Feature engineering is a machine learning techniques for extracting new features from raw data.
In this notebook, we will explore on different types of feature engineering techniques:
1. Imputation
2. One-hot encoding for categorical data.
3. Categorize numerical data.
4. Engineer outlier

# Learning Outcome
By the end of this notebook, you should be able to know on how to:
1. Perform feature engineering for missing values. 
2. Handling categorical data (binary, nominal, ordinal)
3. Implement feature engineering for numerical data.
4. Handling outlier values

# Table Of Contents
* [Missing values](#missing)
* [Categorical data](#category)
* [Numerical data](#numeric)
* [Outlier](#outlier)
* [Exercise ](#exercise)

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [ ]:
# Dataset of employee
df = pd.DataFrame({
    "Employee ID" : ['100', '101', '102', '103', '104', '105', '106', '107', '108', '109'],
    "Department" : ["Finance", "IT", "Sales", "Human Resource", "Finance", "IT", "Sales", "Finance", "Sales", "IT"],
    "Age" : [24, np.nan, 18, 28, 29, 28, 30, 35, np.nan, 35],
    "Gender" : ["F", "M", "F", "F", "F", "M", "M", "M", "F", "F"],
    "Education" : ["Diploma", "Diploma", "SPM", "Degree", "Degree", "SPM", "Degree", "SPM", "Diploma", "Degree"]
    })

In [ ]:
# Change Employee ID as int data type
df['Employee ID'] = df['Employee ID'].astype(int)

In [ ]:
df.head()

In [ ]:
df.info()

# <a name="typeformat">Missing Values

There are two methods to handle missing values:
1. <b>Deleting information</b> that has missing value on it.
    * Delete entire column
    * Delete entire rows
    
    
2. <b>Imputation</b>
    * Impute using mean 
    * Impute using mode

In [ ]:
# Print the value that has missing values
df.isnull().sum()

## Deleting value
Deleting certain row with missing data, or certain column with missing data.

### Column

In [ ]:
del_column = df.dropna(axis=1)

In [ ]:
del_column.head()

### Row

In [ ]:
del_row = df.dropna(axis=0)

In [ ]:
del_row.head()

## Imputation
Replacing missing data with statistical estimates of the missing values. 

Numerical value:
1. Mean
2. Mode
3. Median

Categorical value:
1. Frequently use value or mode imputation.
2. Adding a "missing"/"unknown" category.

In this exercise we will show on how to imputate missing values by using mean or mode.

### Mean
Fills up the missing value by mean.

In [ ]:
mean = df.fillna(df.mean().astype(int))

In [ ]:
mean.head()

### Mode
Fills up the missing value by mode.

In [ ]:
mode = df.fillna(df.mode())

In [ ]:
mode.head()

# <a name="category">Categorical data
Carry out feature engineering process on binary, nominal and ordinal.

In [ ]:
# Print unique value of cat_df
for i in df.columns:
    if df.dtypes[i] == 'object':
        print("Column: {}".format(i))
        print(df[i].unique())

From the result above, here is the list of categorical data:
* Binary : Gender
* Nominal : Department
* Ordinal : Education

## Binary Data
Perform one-hot-encoding by using `get_dummies`. The first category of our data will be remove by using the **drop_first=True** because it contain the same information. It will be remove to prevent data redundancy in out dataset.

In [ ]:
df = pd.get_dummies(data=df, columns=['Gender'], drop_first=True)

In [ ]:
df = df.rename(columns={"Gender_M":"Gender"})

In [ ]:
df.head()

Take a quick look on Gender column, value 1 represent as male and 0 as female.

## Nominal Data
They are two method to perform feature engineering for nominal data:
### Label Encoder

In [ ]:
# make a copy of our data
df_encode = df.copy()

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df_encode['Department'] = label_encoder.fit_transform(df_encode['Department'])

In [ ]:
df_encode.head()

Label encoding use alphabetical ordering. Thus the values in Department column will resulted in the following order :<br>
<b>Finance > Human Resource > IT > Sales</b><br>

Department names do not have an order or rank. When label encoding is performed, it will create order relationship between the categories.

### One-Hot Encoding

In [ ]:
df = pd.get_dummies(data=df, columns=['Department'])

In [ ]:
df.head()

**Challenges of One-Hot Encoding**
* Expands feature space
* Many features may look identical, this will leads to redundant information.

## Ordinal data
Data that introduce an order between them for example grade, review or ranking.

In [ ]:
# Creating dictionary for mapping the ordinal numerical value
education_dict = {'SPM':1, 'Diploma':2, 'Degree':3}

# Assigning ordinal numerical value to all types of education
df['Education'] = df['Education'].map(education_dict)

In [ ]:
df.head()

Best practice by mapping them into a new numeric value.

# <a name="numeric">Numeric data
Categorize values in Age columns according to their age stages.

In [ ]:
# Slice age values
df['Age_Group'] = pd.cut(df['Age'], bins=[0, 18, 25, 30, 35, 40])

In [ ]:
df.head()

# <a name="outlier">Handling Outlier</a>
## Outlier?
Mathematically, outlier is a significant greater or lower than other data values.

## Finding Outlier - Boxplot
<img src="https://matplotlib.org/3.2.2/_images/boxplot_explanation.png" width="500"/>

[Image Source: Matplotlib](https://matplotlib.org/3.2.2/faq/howto_faq.html)

## Understanding boxplot
- Boxplot is a method to display the distribution of data
- The Interquartile Range(IQR) indicates the range where most data is spread. We can use this to observe the spread of data. In other words, the data is concentrated in the IQR.

In [ ]:
student = df = pd.DataFrame({
    "Student ID" : ['100', '101', '102', '103', '104', '105', '106', '107', '108', '109'],
    "Marks" : [75, 62, 1, 66, 80, 194, 80, 90, 2, 65]
#     "Marks" : [0.1, 60, 62, 65, 66, 70, 75, 80, 90, 194]
    })

In [ ]:
student

## Interquartile range (IQR)
Interquartile range, Q3-Q1

In [ ]:
# sort in increasing order
sorted(student['Marks'])

In [ ]:
# find q1(25%) and q3(75%)
q1, q3 = np.percentile(student['Marks'],[25,75])
print(q1, q3)

In [ ]:
# find IQR
IQR = q3 - q1
print(IQR)

In [ ]:
# find lower bound and upper bound
lower_bound = q1 - (1.5 * IQR)
upper_bound = q3 + (1.5 * IQR)

print(lower_bound, upper_bound)

As you can see from the example above, if the marks are below the lower boundary and above the upper boundary, they are considered outliers.

In [ ]:
student.boxplot()

Visualize outlier in boxplot.

## Trimming

In [ ]:
stud_trim = student.copy() # copy as we does not make change to original dataset

In [ ]:
# remove the outlier value in "Marks" column
for x in ['Marks']:
    stud_trim.loc[stud_trim[x] < lower_bound,x] = np.nan
    stud_trim.loc[stud_trim[x] > upper_bound,x] = np.nan

In [ ]:
stud_trim.boxplot()

The outlier has been successfully removed from the Marks column.

## Winsorizing

In [ ]:
stud_winsor = student.copy()

In [ ]:
from scipy.stats.mstats import winsorize

In [ ]:
stud_winsor

In [ ]:
stud_winsor['Marks'] = winsorize(stud_winsor['Marks'], limits=[0.25, 0.1])

In [ ]:
stud_winsor.boxplot()

In [ ]:
stud_winsor

As you can see from the above, the dataset has been winsorize such that the extreme values(outlier) is being replaced by the lowest and highest value of our dataset.

# <a name="exercise">Exercise
Perform feature engineering based on dataset given below.

In [ ]:
food = pd.read_csv('../data/food_preference.csv')

In [ ]:
food.head()

<b>You may follow guidelines below to begin this exercise. Good luck!

In [ ]:
# Step 1 : Check if there is missing value

In [ ]:
# Step 2 : Deleting row that contain null value

In [ ]:
# Step 3 : Find unique values for categorical columns only

# remove 'Timestamp' and 'Participant_ID' columns
cat_df = food[food.columns.difference(['Timestamp', 'Participant_ID'])]

# Print unique value of cat_df

In [ ]:
# Step 4 : Standardize Nationality values to malaysian and non-malaysian

# Hint : use this values
nationality = {
    "malaysian" : "malaysian",
    "indian" : "non-malaysian",
    "pakistani" : "non-malaysian",
    "tanzanian" : "non-malaysian",
    "indonesia" : "non-malaysian",
    "pakistan" : "non-malaysian",
    "maldivian" : "non-malaysian",
    "my" : "malaysian",
    "indonesian" : "non-malaysian",
    "malaysia" : "malaysian",
    "canadian" : "non-malaysian",
    "nigerian" : "non-malaysian",
    "algerian" : "non-malaysian",
    "korean" : "non-malaysian",
    "seychellois" : "non-malaysian",
    "indonesain" : "non-malaysian",
    "japan" : "non-malaysian",
    "china" : "non-malaysian",
    "mauritian" : "non-malaysian",
    "yemen" : "non-malaysian"
}

food["Nationality"] = food["Nationality"].apply(str.lower).apply(str.strip).apply(lambda x:nationality[x])

In [ ]:
# Step 5 : Perform feature engineering for the rest of categorical data

cat_df = food[food.columns.difference(['Timestamp', 'Participant_ID', 'Age'])]

# Enter your solution here

In [ ]:
# Step 6(Bonus) : Extract date from 'Timestamp column'

import datetime
# Hint : New date format %d%m%Y

def date_convert(date_to_convert):
    try:
        return datetime.datetime.strptime(date_to_convert, "%Y/%m/%d %H:%M:%S %p GMT+8").strftime('%d/%m/%Y')
    except:
        return "Error"
    
# Enter your solution here

In [ ]:
food.head()

Congratulations, now you have a better understanding of how to include feature engineering into your project.

# Further Readings
* <a href=https://heartbeat.comet.ml/hands-on-with-feature-engineering-techniques-encoding-categorical-variables-be4bc0715394>More feature engineering techniques</a>