# Explore Statistics by Data Visualization

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

We will use a small dataset that contains (Physics,Biology and Maths) marks of a classroom of students.

In [3]:
df = pd.read_csv("data/grades.csv")

Show the first 5 rows of data.

In [4]:
df.head()

        Name  Physics  Biology  Maths
0     Arnold       80       78     70
1        Bob       60       98     45
2  Cassandra       34       56     65
3    Donovan       56       65     32
4      Emily       98       23     55

Show all the data entries.

In [5]:
df

         Name  Physics  Biology  Maths
0      Arnold       80       78     70
1         Bob       60       98     45
2   Cassandra       34       56     65
3     Donovan       56       65     32
4       Emily       98       23     55
5      Fabian       45       44     60
6        Grom       12       66     80
7      Hilary       60       88     78
8        Ivan       45       97     99
9        John       98       80     84
10      Kevin       78       78     65
11      Loius       56       66     66
12      Mandy       95       56     87
13    Natalie       75       78     60
14     Oliver       80       98     89
15    Patrick       69       56     85
16     Quiton       45       56     80
17     Robert       78       66     70
18      Sofia       88       98     50
19      Terry       77       77     60
20      Usman       40       64     88
21    Vanessa       50       48     98
22     Wilson       66       75     67
23     Xavier       89       75     40
24       Yuki       60       20     59
25       Zayn       24       37     82

Describe the dataset with mean, standard deviation, data entries count and etc.

Show only the data column that you want.

In [6]:
df["Biology"].head()

0    78
1    98
2    56
3    65
4    23
Name: Biology, dtype: int64

In [7]:
df.describe()

         Physics    Biology      Maths
count  26.000000  26.000000  26.000000
mean   63.769231  67.038462  69.769231
std    22.742573  21.371908  17.339683
min    12.000000  20.000000  32.000000
25%    46.250000  56.000000  60.000000
50%    63.000000  66.000000  68.500000
75%    79.500000  78.000000  83.500000
max    98.000000  98.000000  99.000000

Show available columns of data.

In [ ]:
df.columns.values

Plot a **bar chart** of the grades data.

In [ ]:
df.plot(kind="bar")

Plot a **box plot** of the grades data.

In [ ]:
df.boxplot()

Plot the **histograms** of the grades data.

In [ ]:
df.hist()

Plot the histogram of "Physics" column.

In [ ]:
df["Physics"].hist()

We can plot a distribution plot by using **seaborn** module.

In [ ]:
splot=sns.distplot(df['Physics'])
# splot.set_xlim(0, 100)

In [ ]:
df["Physics"].skew()

In many Machine Learning modeling scenarios, **normality** of the features in a dataset is desirable. Power transforms are a family of parametric, monotonic transformations that aim to map data from any distribution to as close to a **Gaussian distribution** as possible in order to stabilize variance and **minimize skewness**.

In [ ]:
scaler = preprocessing.PowerTransformer(method='box-cox', standardize=False)

In [ ]:
physics_scaled=scaler.fit_transform(physics_2d)

In [ ]:
physics_scaled

In [ ]:
df_new=pd.DataFrame(physics_scaled)
df_new.hist()

In [ ]:
splot=sns.distplot(df_new)

In [ ]:
df["Physics"].skew()

In [ ]:
df_new.skew()

In [ ]:
np.random.randint(low=1, high=100, size=4)

In [ ]:
np.random.random_sample()

In [ ]:
from scipy.stats import skewnorm

In [ ]:
rand_vars = skewnorm.rvs(5, size=10000)

In [ ]:
fig, ax = plt.subplots(1, 1)
# ax.hist(rand_vars, density=True, histtype='stepfilled')
ax.hist(rand_vars)
plt.show()

In [ ]:
df=pd.DataFrame(rand_vars)

In [ ]:
df.skew()

In [ ]:
from sklearn.preprocessing import FunctionTransformer
transformer = FunctionTransformer(np.log1p, validate=True)

In [ ]:
data_trans=transformer.transform(df)

In [ ]:
df_new=pd.DataFrame(data_trans)

In [ ]:
fig, ax = plt.subplots(1, 1)
ax.hist(data_trans)
plt.show()

In [ ]:
df_new.skew()

In [ ]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler()

In [ ]:
df_scaled=scaler.fit_transform(df)

In [ ]:
df_new=pd.DataFrame(df_scaled)

In [ ]:
df_new.skew()

In [ ]:
scaler = preprocessing.PowerTransformer(standardize=False)

In [ ]:
df_scaled=scaler.fit_transform(df)

In [ ]:
df_new=pd.DataFrame(df_scaled)
df_new.skew()

In [ ]:
fig, ax = plt.subplots(1, 1)
ax.hist(df_scaled, density=True, histtype='stepfilled')
plt.show()