# Feature Scaling

While many algorithms (such as SVM, K-nearest neighbors, and logistic regression) require features to be normalized, intuitively we can think of **Principle Component Analysis (PCA)** as being a prime example of when normalization is important. In PCA we are interested in the components that maximize the variance. **If one component (e.g. human height) varies less than another (e.g. weight) because of their respective scales (meters vs. kilos)**, PCA might determine that the direction of maximal variance more closely corresponds with the ‘weight’ axis, if those features are **not scaled**. As a change in height of one meter can be considered much more important than the change in weight of one kilogram, this is clearly **incorrect**.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

%matplotlib inline

<br>We will use a small dataset that contains (Physics, Biology and Maths) marks of a classroom of students.

In [2]:
df = pd.read_csv("https://archive.org/download/ml-fundamentals-data/machine-learning-fundamentals-data/grades.csv",index_col=0)

<br>Show the first 5 rows of data.

In [3]:
df.head()

           Physics  Biology  Maths
Name
Arnold          80       78     70
Bob             60       98     45
Cassandra       34       56     65
Donovan         56       65     32
Emily           98       23     55

<br>We can use boxplot to visualize the data

In [4]:
#TODO : Use boxplot to visualize data
df.()

SyntaxError: invalid syntax (<ipython-input-4-97ba02cb71fa>, line 2)

We could notice that the data is spread around the range of 1 to 100

<br>We will use scaling functions from scikit learn to perform some preprocessing techniques to scale our data.
<br>**Min-Max normalization** involves scaling features to lie between a given minimum and maximum value, often between zero and one.

In [ ]:
#TODO : Use Min-Max normalization for scaling
scaler = preprocessing.MinMax()

<br>We will use Min-Max Scaling to scale all the columns of data.

In [ ]:
#TODO : Fit the data to perform scaling
data_scaled = scaler.(df)

<br>Transform the numpy array containing our scaled data into a pandas data frame.

In [ ]:
df_new = pd.DataFrame(data_scaled, index=df.index)

<br>Shows the first 5 rows of the scaled data

In [ ]:
df_new.head()

As you can see, our values are scaled into a *range from 0 to 1*.

In [ ]:
df_new.boxplot()

Another common scaling technique is the **Standard Scaler**.
<br>Standard Scaler Standardize features by removing the mean and scaling to unit variance

The standard score of a sample x is calculated as:

$$z = \frac{x - u}{s}$$

where $u$ is the mean of the training samples or zero if `with_mean = False`, and $s$ is the standard deviation of the training samples or one if `with_std = False`.

**Standardization** of a dataset is a common requirement for many machine learning estimators: they might behave badly if the individual features do not more or less look like standard normally distributed data (e.g. Gaussian with 0 mean and unit variance).

<br>Now use the standard scaler to scale the data

In [ ]:
#TODO : Use standardization for scaling
scaler = preprocessing.Scaler()

<br>Apply the scaler on the dataset and use df.head to visual the data

In [ ]:
data_scaled = scaler.fit_transform(df)
df_new = pd.DataFrame(data_scaled, index=df.index)
df_new.head()

<br>
By plotting boxplot we can see that the range of the data changed where their average mean will be 0

In [ ]:
df_new.boxplot()

# Example of improved performance using Standard Scaling

In this example, we will use a social network advertisment dataset which result will be whether the targeted person purchased the items in the advertisement

In [71]:
df = pd.read_csv("data/socialnetads.csv")

Visualizing the first 5 example of the dataset

In [72]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

Dropping column User ID which are not needed in the training

In [73]:
df.drop(columns=['User ID'],axis=1,inplace=True)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

Use One Hot Encoding to split the Gender attribute into binary values

In [74]:
df=pd.get_dummies(df,columns=['Gender'])
df.head()

   Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0   19            19000          0              0            1
1   35            20000          0              0            1
2   26            43000          0              1            0
3   27            57000          0              1            0
4   19            76000          0              0            1

Assigning the attributes that are needed for training

In [75]:
df.columns
y= df['Purchased']
df.drop(columns=['Purchased'],axis=1,inplace=True)
X=df

Splitting the data into training set and test set

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

Training the model with Logistic Regression

In [78]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

Get the prediction using the test set

In [79]:
predict = model.predict(X_test)

Calculating the accuracy score for the trained model

In [80]:
accuracy = metrics.accuracy_score(predict,y_test)
print(accuracy)

0.6416666666666667

As from here we can see the the performance of the model is not that good, if we use feature scaling, the performance will be better.

Scale the training set data with Standard Scaler
<br> We will only fit the training set only as we learn the means and standard deviation of the training set, and then:

- Standardize the training set using the training set means and standard deviations.
- Standardize the test set using the training set means and standard deviations.

Anything that we want to learn, must be learned from the model's training data.

In [81]:
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Now let us train the model again with the scaled data and look at the output of the accuracy

In [82]:
model.fit(X_train,y_train)
predict = model.predict(X_test)
accuracy = metrics.accuracy_score(predict,y_test)
print(accuracy)

0.8666666666666667

We can see that there is a great improvement in the accuracy after we scaled the data